* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    padding: 40px 20px;
}

.main-wrapper {
    width: 100%;
    max-width: 600px;
}


.logo {
    display: block;
    width: 180px;
    margin-bottom: 30px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 25px;
    font-size: 2rem;
}

input[type="text"], input[type="tel"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px; 
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease;
}


input:focus {
    border-color: #66afe9;
    box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}


.row {
    display: flex;
    gap: 20px;
}

.row input {
    flex: 1;
}

@media (max-width: 480px) {
    .row {
        flex-direction: column;
        gap: 0;
    }
}


.button-group {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

button {
    flex: 1;
    padding: 12px;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.btn-reg { background-color: #5c8cbc; } 
.btn-sign { background-color: #7ab374; } 


.agreement-area {
    width: 100%;
    display: flex;
    align-items: flex-start;
    color: #666;
    gap: 150px;
    margin: 15px 0;
}
.badge {
    background: #5c8cbc;
    color: white;
    padding: 2px 6px;
    border-radius: 4px;
    font-size: 11px;
}

.checkbox-line {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 15px;
    margin-left: -5px;
    font-weight: nowrap;
}

.checkbox-line input[type="checkbox"] {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.checkbox-line label{
    flex: 10;
    font-weight: bold;
    font-size: 12.5px;
    color:#333;
}

.terms {
    flex: 10;             
    font-size: 13.4px;
    line-height: 1.4;
    margin-left: 10px;
}

.terms a {
    color: #3a8ddfd6;
    text-decoration: none;
}

.terms a:hover {
    text-decoration: underline;
}

.footer {
    margin-top: 250px;
    text-align: center;
    width: 100%;
    max-width: 800px; 
    margin-left: auto;
    margin-right: auto;
}

.footer-line {
    border: 0;
    border-top: 1px solid #333; 
    margin-bottom: 15px;
}

.footer-info {
    font-size: 12px;
    color: #333;
    line-height: 1.8;
}
